<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body style="padding-bottom: auto;
    background-color:#26282B;color:white;">

<!-----------------------------START OF NAVBAR----------------------------->
     <nav class="navbar navbar-expand-lg navbar-dark" >
          <a class="navbar-brand" style="margin-top:2%;margin-left:2%;margin-right:2%;font-size:30px;padding-top:0px;" href="/">SOUNDBASE</a>
          <!--button pojawia sie gdy mniejsze okno-->
         <button
            class="navbar-toggler ml-auto"
            type="button"
            data-toggle="collapse"
            data-target="#navbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbar"> <!--klasa dla buttonow gdy mniejsze okno-->
            <div  class="navbar-nav" style="margin-right:2%;font-size:20px;margin-top:2%;">
                <a class="nav-item nav-link" id="genre" href="/">Genres</a>
                <a class="nav-item nav-link" id="Recent" href="/">Recent</a>
                <input id="search-focus" type="search" id="form1" class="form-control" style="background-color:#26282B;color:gray;width:500px;margin-top:5px;margin-left:20px" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />

            </div>

                  {% if g.user %}
                    <div  class="navbar-nav ml-auto" style="font-size:20px;margin-top:2%;">
                        <a class="nav-item nav-link" id="profile" href="/">{{ g.user[1]}}</a>
                      <a class="nav-item nav-link" id="logout" href="/logout" >Logout</a>
                    </div>
                      {% else %}
                    <div  class="navbar-nav ml-auto" style="margin-right:2%;font-size:20px;margin-top:2%;">
                      <a class="nav-item nav-link" id="login" href="/login" style="padding-right: 30px;"  >Login</a>
                      <a class="nav-item nav-link" id="signup" href="/signup" >Sign Up</a>
                    </div>
                  {% endif %} <!--endif MUSI !>TU<! BYC! NIE ZMIENIAC-->

      </div>
    </nav>
     <!-- skrypty dla button gdy mniejszy ekran-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
     <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
<!------------------------------END OF NAVBAR------------------------------>

     <div class="container">{% block content %}  {% endblock %}</div>

  </body>
</html>