{% extends "baseadmin.html" %} {% block title %}Add rating{% endblock %} {% block content %}
<div style="padding-top:50px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <h1>Add new rating</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                <div class="form-group">
                  <label class="control-label">Star value</label>
                  <select name="star" class="custom-select" style="width:100px;">
                      {% for n in range(1,6) %}

                                <option value="{{ n }}">{{n}} stars</option>

                      {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                    <label class="control-label">User</label>
                    <select class="custom-select" name="user" size="5" tabindex="1">
                      {% for user in users %}
                            <option value="{{ user[0] }}"> id:{{user[0]}} name:{{user[1] }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Release</label>
                    <select class="custom-select" name="release" size="5" tabindex="1">
                      {% for release in releases %}
                            <option value="{{ release[0] }}"> id:{{release[0]}} name:{{release[1] }}</option>
                      {% endfor %}
                  </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Rating content</label>
                    <textarea rows="3" name="content" class="form-control bg-dark text-white"></textarea>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="{{ url_for('views_rating.ratings') }}">Wróć</a>
    </div>
</div>
{% endblock %}