{% extends "baseadmin.html" %}
{% block title %}Details{% endblock %}

{% block content %}
<div style="padding-top:50px;">
    <h1>Details</h1>
    <h2>Track id: {{ output[0] }}</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <h5>{{ output[1] }}</h5>
                </div>
                <div class="form-group">
                    <label class="control-label">Length</label>
                    <h5>{{ output[2] }}</h5>
                </div>
            </form>
            <table class="table table-sm table" style="color:white">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Length</th>
                    <th>Action</th>
                </tr>
            </thead>


          {% for row in output %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>

                <td>
                <a href="{{ url_for('views_track.edit', id=row[0]) }}" class="btn btn-sm btn-outline-secondary" >Edit</a>
                <a href="{{ url_for('views_track.delete', id=row[0]) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                <a href="{{ url_for('views_track.details', id=row[0]) }}" class="btn btn-sm btn-outline-primary">Details</a>
                </td>
            </tr>

            {% endfor %}
        </table>
        </div>
    </div>

    <div>
        <a href="{{ url_for('views_track.tracks') }}">Wróć</a>
    </div>
</div>
{% endblock %}
