{% extends "baseadmin.html" %} {% block title %}Artists{% endblock %} {% block content %}
    <div style="padding-top:50px">
        <div style="height=200px;">
            <h1>Tracks</h1>

            <p>
                <a href="{{ url_for('views_track.create') }}">Add new track</a>
            </p>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 bg-dark" type="text" placeholder="Szukaj - nie dziala jeszcze" name="SearchString">
                <button class="btn btn-dark" type="submit">Szukaj</button>
                <a style="color:white;margin-left:4px">Reset</a>
            </form>

        </div>
         <div style="padding-top:10px;">
        <table class="table table-sm table" style="color:white">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Length</th>
                    <th>Action</th>
                </tr>
            </thead>


          {% for row in output %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>

                <td>
                <a href="{{ url_for('views_track.edit', id=row[0]) }}" class="btn btn-sm btn-outline-secondary" >Edit</a>
                <a href="{{ url_for('views_track.delete', id=row[0]) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                <a href="{{ url_for('views_track.details', id=row[0]) }}" class="btn btn-sm btn-outline-primary">Details</a>
                </td>
            </tr>

            {% endfor %}
        </table>
         </div>
    </div>


{% endblock %}