{% extends "baseadmin.html" %} {% block title %}Admin panel{% endblock %} {% block content %}
    <div style="padding-top:50px">
        <div style="height=200px;">
            <h1>Users</h1>

            <p>
                <a href="{{ url_for('views_user.create') }}">Add new user</a>
            </p>
            <form class="form-inline my-2 my-lg-0" method="POST">
                <input class="form-control mr-sm-2 bg-dark text-white" type="text" placeholder="Szukaj" name="SearchString">
                <button class="btn btn-dark" type="submit">Szukaj</button>
            </form>

        </div>
         <div style="padding-top:10px;">
        <table class="table table-sm table" style="color:white">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Add date</th>
                    <th>Password</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>


          {% for row in output %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                {% if row[4] %}
                    <td>ADMIN</td>
                {% else %}
                    <td>BASIC</td>
                {% endif %}

                <td>
                <a href="{{ url_for('views_user.edit', id=row[0]) }}" class="btn btn-sm btn-outline-secondary" >Edit</a>
                <a href="{{ url_for('views_user.delete', id=row[0]) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are You Sure To Delete?')">Delete</a>
                <a href="{{ url_for('views_user.details', id=row[0]) }}" class="btn btn-sm btn-outline-primary">Details</a>
                </td>
            </tr>

            {% endfor %}
        </table>
         </div>
    </div>


{% endblock %}