{% extends "base.html" %} {% block title %}Artists{% endblock %}
{%block searchbar %}

{% endblock %}

{% block content %}
<div style="padding-top:100px;margin-left:-300px;">
    <h1>All artists</h1></br></br>
<table class="table" style="color:white;border-collapse: collapse;border:0">

                <tr>
                    <th style="border:0;font-size:30px;">#</th>
                    <th style="border:0;font-size:30px;">Name:</th>


                </tr>

          {% for row in artists %}
            <tr>
                <td style="border:0;font-size:20px;">{{ row[0] }}</td>
                <td style="border:0;"><a href="{{ url_for('views_soundbaseUser.artist', id=row[1]) }}" style="color:white;font-size:20px;">{{ row[2] }}</a></td>
            </tr>
            {% endfor %}
        </table>
</div>

 {% endblock %}