{% extends "base.html" %} {% block header %}Login{% endblock %} {% block content %}

<div class="container py-5 h-50" style="min-width:250px; width:50%; max-width:320px; margin-top:100px;">
<form method="POST">
  <h3 align="center" style="color:white"> Log in</h3>
     ---temporary:</br>
         Login: admin</br>
         Haslo: admin
  <div class="form-group" >
    <label for="username">Username</label>
    <input style="background-color:#26282B;"
      type="username"
      class="form-control text-white"
      id="username"
      name="username"
      placeholder="Username"
    />
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input style="background-color:#26282B;"
      type="password"
      class="form-control text-white"
      id="password"
      name="password"
      placeholder="Password"
    />
  </div>
  <br />
  <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

  <div class="text-center">
    <p><a href="/signup">Sign Up</a></p>
  </div>
</form>
</div>


{% endblock %}