{% extends "base.html" %} {% block title %}Home{% endblock %}
{%block searchbar %}

{% endblock %}
{% block content %}

<div class="container" style="padding-top:150px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <h1>Choose playlist to add the release: {{release[1]}}</h1>
    <form method="POST">
        <div style="padding-top:50px;padding-left:300px;">
    <select name="playlistid" class="custom-select" style="width:400px;height:60px;font-size:30px;background-color:black;">
        {% for playlist in playlists %}
              <option value="{{playlist[0]}}">{{playlist[1]}}</option>
        {% endfor %}
          </select>

        <div class="form-group" style="padding-top:20px;padding-left:100px">
                    <input type="submit" value="Add" class="btn btn-dark" style="width:200px;height:50px;font-size:20px;" />
                </div>
            </div>
    </form>

</div>


{% endblock %}