{% extends "base.html" %} {% block title %}Artists{% endblock %}
{%block searchbar %}
<form method="POST">
                <input id="search-focus" name="SearchString" type="search"  class="form-control" style="background-color:#26282B;color:gray;width:500px;margin-top:5px;margin-left:20px" placeholder="Search releases" aria-label="Search" aria-describedby="search-addon" />
</form>
{% endblock %}

{% block content %}
<div style="padding-top:100px;margin-left:-300px;">
    <h1>Tags</h1></br></br>
<table class="table" style="color:white;border-collapse: collapse;border:0">

                <tr>
                    <th style="border:0;font-size:30px;">#</th>
                    <th style="border:0;font-size:30px;">Name:</th>
                    <th style="border:0;font-size:30px;">Description</th>

                </tr>



          {% for row in tags %}
            <tr>
                <td style="border:0;font-size:20px;">{{ row[0] }}</td>
                <td style="border:0;"> {{ row[1] }}</td>
                <td style="border:0;"> {{ row[2] }}</td>

            </tr>
            {% endfor %}
        </table>
</div>

 {% endblock %}