{% extends "baseadmin.html" %} {% block title %}Add track{% endblock %} {% block content %}
<div style="padding-top:50px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <h1>Add new track</h1>
    <h1>To album {{ releasename }}</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                <div class="form-group">
                    <label class="control-label">Name</label>
                    <input type = "text" class="form-control bg-dark text-white" name="name" />
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px;">Length</label></br>
                    <div class="form-group row" >
                        <div class="col-xs-1">
                            <label class="control-label">Hours:</label>
                            <input class="form-control bg-dark text-white" type="number" name="hours" min="0" max="1000" value="0" >
                        </div>
                        <div class="col-xs-1">
                            <label class="control-label">Minutes:</label>
                            <input class="form-control bg-dark text-white" type="number" name="minutes" min="0" max="59" value="0">
                        </div>
                        <div class="col-xs-1">
                            <label class="control-label">Seconds:</label>
                            <input class="form-control bg-dark text-white" type="number" name="seconds" min="0" max="59" value="0">
                        </div>
                   </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="{{ url_for('views_release.releases') }}">Wróć</a>
    </div>
</div>
{% endblock %}