{% extends "baseadmin.html" %} {% block title %}Add artist{% endblock %} {% block content %}
<div style="padding-top:50px;">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    <h1>Add new single</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="POST">
                <div class="form-group">
                    <label class="control-label">Name of Single</label>
                    <input type = "text" class="form-control bg-dark text-white" name="name" />
                </div>
                <div class="form-group">
                    <label class="control-label">Genre</label>
                    <select name="genre" class="custom-select">
                        {% for genre in genres %}
                            <option value="{{ genre[0] }}">{{ genre[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Release date</label>
                    <input type="date" name="date" class="form-control bg-dark text-white" />
                </div>
                <div class="form-group">
                            <tr>
                  <td><label>Artists </label>&nbsp;</td>
                  <td><select class="custom-select" name="artists" size="5" multiple="multiple" tabindex="1">
                      {% for artist in artists %}
                            <option value="{{ artist[0] }}">{{ artist[1] }}</option>
                      {% endfor %}
                  </select>
                  </td>
                </tr>
                </div>
                <div class="form-group">
                    <label class="control-label">Track name</label>
                    <input type = "text" class="form-control bg-dark text-white" name="trackname" />
                </div>
                <div class="form-group">
                    <label class="control-label" style="font-size:20px;">Length</label></br>
                    <div class="form-group row" >
                        <div class="col-xs-1">
                            <label class="control-label">Hours:</label>
                            <input class="form-control bg-dark text-white" type="number" name="hours" min="0" max="1000" value="0" >
                        </div>
                        <div class="col-xs-1">
                            <label class="control-label">Minutes:</label>
                            <input class="form-control bg-dark text-white" type="number" name="minutes" min="0" max="59" value="0">
                        </div>
                        <div class="col-xs-1">
                            <label class="control-label">Seconds:</label>
                            <input class="form-control bg-dark text-white" type="number" name="seconds" min="0" max="59" value="0">
                        </div>
                   </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-dark" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a href="{{ url_for('views_artist.artists') }}">Wróć</a>
    </div>
</div>
{% endblock %}