{% extends "baseadmin.html" %} {% block title %}Artists{% endblock %} {% block content %}
    <div style="padding-top:50px">
        <div style="height=200px;">
            <h1>Releases</h1>

            <p>
                <a href="{{ url_for('views_release.createSingle') }}">Add new single</a> |
                <a href="{{ url_for('views_release.createAlbum') }}">Add new album </a>
            </p>
            <form class="form-inline my-2 my-lg-0" method="POST">
                <input class="form-control mr-sm-2 bg-dark" type="text" placeholder="Szukaj" name="SearchString">
                <button class="btn btn-dark" type="submit">Szukaj</button>
            </form>

        </div>
         <div style="padding-top:10px;">
        <table class="table table-sm table" style="color:white">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Release date</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
            </thead>


          {% for row in output %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>

                <td>
                    {% if row[3] == 'Album' %}
                    <a href="{{ url_for('views_release.addTrack', id=row[0]) }}" class="btn btn-sm btn-outline-primary">Add track</a>
                    <a href="{{ url_for('views_release.detailsAlbum', id=row[0]) }}" class="btn btn-sm btn-outline-primary">Details</a>
                    {% else %}
                    <a href="{{ url_for('views_release.detailsSingle', id=row[0]) }}" class="btn btn-sm btn-outline-primary">Details</a>

                    {% endif %}
                    <a href="{{ url_for('views_release.delete', id=row[0]) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are You Sure To Delete?')">Delete</a>

                </td>
            </tr>

            {% endfor %}
        </table>
         </div>
    </div>


{% endblock %}